// Colori principali e secondari delle pagine con le varianti
$primary-color: #004a82; // Indigo dye #004a82
$primary-variant-color: #00244a; // Oxford blue #00244a

$secondary-color: #00bea1; // #00bea1
$secondary-variant-color: #037066; // Pine green #037066

$hover-home:#00bea1;
// Colori background
$background-color: #f8f9f8; // Seasalt #f8f9f8

// Colore testi
$primary-text-color: black;
$secondary-text-color: #f8f9f8; // Seasalt #f8f9f8

// colori social
$facebook: #1773ea ;
$linkedin: #0c61bf;
$twitter: #1c96e9;
$spotify: #1dd05d;

